@import "tailwindcss";

@theme {
  --color-primary: #d4f0fc;
  --color-secondary: #01303f;
  --color-accent: #02a9f7;

}

/*transparent scroll track class called hide scroll track*/

.hide-scroll-track::-webkit-scrollbar{
    width:8px; /*width of entire scroll bar*/
}

.hide-scroll-track::-webkit-scrollbar-track{
    background: transparent; /*color of the tracking area*/
}

.hide-scroll-track::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,2); /*color of the scroll thumb*/
  border-radius: 20px;  /*roundness of the scroll thumb*/
  border: 3px solid transparent;  /*creates padding around scroll thumb */
}